<div class="app-upload-container">
	<ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="onFileDrop($event)" (onFileOver)="onFileOver()"
								 (onFileLeave)="onFileLeave()"
								 dropZoneClassName="app-upload-dropzone" contentClassName="app-upload-content" multiple="true">
		<ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
			<div (click)="openFileSelector()" class="app-upload-click">
				<br><br><br><br><br>
				<strong>CLICK HERE OR DROP FILE</strong>
			</div>
		</ng-template>

	</ngx-file-drop>
</div>

<div class="card text-center" *ngIf="showUploadStatus()">
	<div class="card-header">
		<h2>Upload status</h2>
	</div>
	<div class="card-body">
		<table class="table table-striped">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Imported</th>
				<th scope="col">Message</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let file of uploadInfo; let i=index">
				<th scope="row">{{ i + 1 }}</th>
				<td>{{ file.filePath }}</td>
				<td>OK</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>


