<div class="container app-texture-container">
	<div class="row">
		<app-pbmp class="app-texture-bmp col-6" [bitmap]="texture"
							[maxSize]="textureMaxSize" [reloadBitmap]="reloadTexture"></app-pbmp>
		<div class="col-md"></div>
		<div class="col-md-5">
			<div class="row">
				<app-wad-dir-element class="col-12" label='Name' [value]="texture.name"></app-wad-dir-element>
				<app-wad-dir-element class="col-12" label='Size'
														 [value]="texture.width+'x'+texture.height"></app-wad-dir-element>
				<app-wad-dir-element class="col-12" label='Patches' [value]="texture.patchCount+''"></app-wad-dir-element>
			</div>
		</div>
	</div>

	<div class="app-texture-patches">
		<ng-container *ngFor="let patch of texture.patches;let i=index">
			<app-pbmp class="app-patch" [bitmap]="patch.bitmap" [maxSize]="patchMaxSize"
								ngbPopover=
		"{{i}}:{{patch.patchName}}, Size: {{patch.bitmap.width}}x{{patch.bitmap.height}}, Offset: {{patch.originX}}x{{patch.originY}}"
								triggers="mouseenter:mouseleave" (mouseover)="onPatchMoseOver(patch)" ></app-pbmp>
		</ng-container>
	</div>
</div>
