@import "/src/scss/ng-doom";

.app-texture-container {
	background: $app-content-bg-light-color;
	color: $app-font-color;
	padding-top: 15px;
	padding-bottom: 10px;
}

.app-texture-bmp {
	width: $wad-texture-box-size;
	height: $wad-texture-box-size;
	margin: $wad-texture-box-margin;
	line-height: $wad-texture-box-size;
}

.app-patches {
	@include app-image-box($wad-tx-patch-box-size, $wad-tx-patch-box-margin)
}
