<ngb-accordion [closeOthers]="true" class="app-side-menu" [activeIds]="state.idL1">
	<ngb-panel cardClass="app-card" *ngFor="let l1 of menuRoot.l1" [id]="l1.id">
		<ng-template ngbPanelHeader>
			<button ngbPanelToggle class="btn container-fluid text-left">
				<i class="bi bi-archive-fill pr-2"></i>
			{{l1.title}}
			</button>
		</ng-template>
		<ng-template ngbPanelContent>
			<div class="list-group" role="tablist">
				<ng-container *ngFor="let l2 of l1.l2">
					<a routerLink="{{l2.path}}" class="app-menu-l2" data-toggle="list" [ngClass]="{'active':state.idL2===l2.id}"
						 role="tab" (click)="onL2Click({idL1:l1.id, idL2:l2.id})">{{l2.title}}</a>
				</ng-container>
			</div>
		</ng-template>
	</ngb-panel>
</ngb-accordion>
