@import "/src/scss/ng-doom";

.app-bg-image {
	position: absolute;
	width: 100%;
	height: 100%;

	background-image: url("../../assets/img/doom_logo.png");
	filter: blur(10px);
	-webkit-filter: blur(8px);

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $app-screen-bg-color;
	z-index: -100;
}
