@import "/src/scss/ng-doom";

.app-nav-pl-container {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.app-nav-pl-text-container {
	height: 100%;
	@extend .d-flex;
	align-items: center;
	justify-content: center;
}

.app-nav-pl-text-body {
	text-align: center;
	vertical-align: middle;
}
