@import "../scss/ng-doom";

// ########### APP ##################
.bg-image {
	position: absolute;
	width: 100%;
	height: 100%;

	background-image: url("../scss/img/doom_logo.png");
	filter: blur(10px);
	-webkit-filter: blur(8px);

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $screen-bg-color;
	z-index: -100;
}

@mixin bg-color {
	background-color: rgba($screen-bg-color, 0.6);
	color: $font-color;
}

.app-wrapper {
	display: flex;
	align-items: stretch;
}

.app-content {
	width: 100%;
	padding: 20px;
	min-height: 100vh;
}

.main-container {
	@include bg-color;
}

// ########### NAVBAR ##################
.app-content .navbar {
	@extend .navbar-expand-lg;
	@extend .navbar-light;
	@include bg-color;
	padding: 15px 10px;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.app-content .navbar .nav-container {
	@extend .container-fluid;
}

.app-content .navbar .nav-container .hide-sidebar-btn {
	@extend .btn;
	@extend .btn-info;
}

// ########### SIDEBAR ##################
.sidebar {
	min-width: 250px;
	max-width: 250px;
}

.sidebar .sidebar-header {
	padding: 20px;
	text-align: center;
}

.sidebar ul.firstLevel {
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

.sidebar ul.secondLevel {
}

.sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

.sidebar ul li a i {
	margin-right: 10px;
}
