@import "/src/scss/ng-doom";

.app-dir-row {

}

.app-dir-row:nth-child(odd) {
	background-color: $app-content-bg-light-color;
}

.app-dir-row:nth-child(even) {
	background-color: $app-content-bg-dark-color;
}
