@import "/src/scss/ng-doom";

.app-container {
	@extend .d-flex;
	@extend .w-100;
}

.app-main {
	@extend .w-100;
	@extend .mw-100;
	padding-top: 10px;
	padding-right: 10px;
}

.app-content {
	@include app-content-color;
}

// ########### NAVBAR ##################
.app-navbar {
	@include app-content-color;
	@extend .rounded-lg;
	@extend .container-fluid;
	@extend .sticky-top;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: $app-component-shadow;
}

.app-hide-sidebar-btn {
	@extend .btn;
	@extend .btn-info;
	z-index: 999;
}

// ########### SIDEBAR ##################
.app-sidebar {
	min-width: 250px;
	max-width: 250px;
	margin-right: 10px;
}

.app-sidebar-menu-collapsed {
	@include app-content-color;
	background-color: $app-content-bg-dark-color;
}

.app-sidebar-menu {
	@extend .sticky-top;
}

.app-sidebar-header {
	padding: 25px;
	text-align: center;
}

.app-sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

.app-sidebar ul li a i {
	margin-right: 10px;
}
