@import "/src/scss/ng-doom";

.app-container {
	@extend .d-flex;
	@extend .w-100;
}

.app-main {
	@extend .w-100;
	@extend .mw-100;
	padding-top: 10px;
	padding-right: 10px;
}

.app-content {
	@include app-content-color;
	height:100%;
}

// ########### NAVBAR ##################
.app-navbar {
	@include app-content-color;
	@extend .rounded-lg;
	@extend .container-fluid;
	@extend .sticky-top;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: $app-component-shadow;
}

.app-button {
	@extend .btn;
	z-index: 999;
	border-color: $app-button-border-color;
	background-color: $app-button-background-color;
}

// ########### SIDEBAR ##################
.app-sidebar {
	min-width: $sidebar-width;
	max-width: $sidebar-width;
	margin-right: $sidebar-margin-right;
}

.app-sidebar-menu-collapsed {
	@include app-content-color;
	background-color: $app-content-bg-dark-color;
}

.app-sidebar-menu {
	@extend .sticky-top;
}

.app-sidebar-header {
	@extend .d-flex;
	@include align-center;
	padding: $sidebar-header-padding;
	min-height: $sidebar-header-height;
	max-height: $sidebar-header-height;
	text-align: center;
}

.app-sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

.app-sidebar ul li a i {
	margin-right: 10px;
}
