@import "/src/scss/ng-doom";

.app-bg-image {
	position: absolute;
	width: 100%;
	height: 100%;

	background-image: url("../../../assets/img/doom_logo.png");
	filter: blur(10px);
	-webkit-filter: blur(8px);

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $app-screen-bg-color;
	z-index: -100;
}

.app-main {
	width: 100%;
	padding-top: 10px;
	padding-right: 10px;
	max-width: 100%;
	overflow-x: hidden;
}

// ########### NAVBAR ##################
.app-container {
	display: flex;
	max-width: 100%;
	max-height: 100%;
}

.app-navbar {
	@extend .rounded-lg;
	@include app-content-color;
	padding: 15px 10px;
	border: none;
	border-radius: 0;
	margin-bottom: 10px;
	box-shadow: $app-component-shadow;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.app-navbar .app-hide-sidebar-btn {
	@extend .btn;
	@extend .btn-info;
	z-index: 999;
}

// ########### SIDEBAR ##################
.app-sidebar {
	min-width: 250px;
	max-width: 250px;
}

.app-sidebar-menu-collapsed {
	@include app-content-color;
	background-color: $app-content-bg-dark-color;
}

.app-sidebar-header {
	padding: 25px;
	text-align: center;
}

.app-sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

.app-sidebar ul li a i {
	margin-right: 10px;
}
