<div class="app-container">
	<div class="app-sidebar" *ngIf="!collapsedMenuVisible()" [ngbCollapse]="shouldSidebarCollapse()"
			 [@sidebarAnimation]="sidebarState">
		<div class="app-sidebar-header">
			<h3>NG-DOOM</h3>
		</div>
		<div class="app-sidebar-menu">
			<app-menu></app-menu>
		</div>
	</div>

	<div class="app-sidebar" *ngIf="collapsedMenuVisible()" [@collapsedMenuAnimation]="sidebarState">
		<div class="app-sidebar-header" style="visibility: hidden">
			<h3>NG-DOOM</h3>
		</div>
		<div class="app-sidebar-menu-collapsed">
			<app-menu (selection)="onOverlayMenuSelected()"></app-menu>
		</div>
	</div>

	<div appMainOverflow class="app-main">
		<div class="app-navbar">
			<div class="row">
				<div class="col-1">
					<button type="button" class="app-hide-sidebar-btn" (click)="toggleSidebarCollapse()">
						<i class="bi bi-box-arrow-in-left" *ngIf="isSidebarOpen()"></i>
						<i class="bi bi-box-arrow-in-right" *ngIf="!isSidebarOpen()"></i>
					</button>
				</div>
				<div class="col-11">
					<ng-template #navPluginRef></ng-template>
				</div>
			</div>
		</div>
		<div class="app-content">
			<router-outlet (activate)="switchRoute()"></router-outlet>
		</div>
	</div>
</div>
