<div class="app-upload-container">
	<ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="onFileDrop($event)" (onFileOver)="onFileOver()"
								 (onFileLeave)="onFileLeave()"
								 dropZoneClassName="none" contentClassName="app-upload-content" multiple="true">
		<ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
			<div (click)="openFileSelector()" class="app-upload-click">
				<br><br><br><br><br>
				<strong>CLICK HERE OR DROP WAD FILE</strong>
			</div>
		</ng-template>

	</ngx-file-drop>
</div>

<div class="card text-center" *ngIf="showUploadStatus()">
	<div class="card-header">
		<h2>Upload status</h2>
	</div>
	<div class="card-body">
		<table class="table table-striped">
			<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">Name</th>
				<th scope="col">Status</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let result of uploadResults">
				<td><ng-container [ngSwitch]="result.status">
					<i *ngSwitchCase="statusEnum.UPLOADED" class="bi bi-emoji-sunglasses"></i>
					<i *ngSwitchCase="statusEnum.FILE_ALREADY_EXISTS" class="bi bi-emoji-wink"></i>
					<i *ngSwitchCase="statusEnum.UNSUPPORTED_TYPE" class="bi bi-emoji-neutral"></i>
					<i *ngSwitchCase="statusEnum.PARSE_ERROR" class="bi bi-emoji-frown"></i>
					<i *ngSwitchDefault class="bi bi-emoji-dizzy"></i>
				</ng-container>
				</td>
				<td>{{ result.fileName }}</td>
				<td>{{ result.status }} <span *ngIf="result.message !== undefined">:&nbsp;{{ result.message }}</span></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>


