// CSS CRT screen effect by Lucas Bebber (https://codepen.io/lbebber)

@import 'node_modules/compass-mixins/lib/compass/css3';
@import "variables";

@keyframes flicker {
  @for $i from 0 through $app-flicker-steps {
    #{percentage($i*(1/$app-flicker-steps))} {
      opacity: random();
    }
  }
}

.crt {
  background: $app-bg-transparency-color;
  position: relative;

  // flicker
  &::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparentize($app-bg-transparency-color, 0.9);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
  }

  // scanlines
  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(transparentize($app-bg-transparency-color, 1) 50%, transparentize(darken($app-bg-transparency-color, 10), 0.75) 50%), linear-gradient(90deg, transparentize($app-font-color, 0.94), transparentize(#00ff00, 0.98), transparentize(#0000ff, 0.94));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
}

.crt::after {
  animation: flicker $app-flicker-delay infinite;
}


