@import "variables";
@import "bootstrap";
@import "crt";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.nobr {
	white-space: nowrap;
}

body {
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

// Horizontal separator line
.sep-line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}
