@use 'common';
@use '@angular/material' as mat;
@use 'variables' as nd;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

mat-sidenav-container {
  height: 100%;
}

input {
  background: nd.$bg-slight;
  border: 1px solid nd.$separator-line-color;
  color: inherit;
  outline: none;
}


:root {
  @include mat.list-overrides((
    list-item-label-text-color: nd.$font-color
  ));

  @include mat.expansion-overrides((
    container-background-color: nd.$bg-light,
    container-text-color: nd.$font-color
  ));

  @include mat.sidenav-overrides((
    container-background-color: nd.$bg-light,
    content-background-color: transparent,
    container-text-color: nd.$font-color
  ));

  @include mat.card-overrides((
    outlined-container-color: nd.$bg-light,
  ));

  @include mat.table-overrides((
    background-color: nd.$bg-slight,
    header-headline-color: nd.$font-color
  ));
}

.mat-mdc-select-panel,
.mdc-menu-surface.mat-mdc-select-panel {
  background-color: nd.$bg-light;
}

.mdc-text-field--filled {
  background-color: nd.$bg-slight !important;
}

.mat-mdc-paginator {
  background-color: transparent !important;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  background-image: url("../assets/img/doom_logo.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  color-scheme: dark;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
