@import "variables";
@import "bootstrap";
@import "crt";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "~bootstrap-slider/dist/css/bootstrap-slider.css";

@mixin app-content-color {
	background-color: $app-content-bg-color;
	color: $app-font-color;
}

@mixin align-center {
	@extend .justify-content-center;
	align-items: center;
}

body {
	background-image: url("../assets/img/doom_logo.png");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	font-family: 'Poppins', sans-serif;
	background-color: $app-screen-bg-color;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
}

.app-sep-line {
	@extend .w-100;
	height: 1px;
	border-bottom: 1px dashed $app-separator-line-color;
	margin: 40px 0;
}

canvas[resize] {
	width: 100%;
	height: 100%;
}

// ######### WAD PATCHES #########
.app-patches {
	@extend .d-flex;
	@include align-center;
	flex-flow: row wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}

.app-patch {
	background: $app-content-bg-light-color;
	width: $wad-patch-box-size;
	height: $wad-patch-box-size;
	margin: $wad-patch-box-margin;
	line-height: $wad-patch-box-size;
	font-weight: bold;
	text-align: center;

	// .app-patches is flex container for .app-patch and .app-patch is again flex container for ist child
	@extend .d-flex;
	justify-content: space-around;
	align-items: center;
}

