@import "variables";
@import "bootstrap";
@import "crt";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
}

.app-sep-line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed $app-separator-line-color;
	margin: 40px 0;
}

@mixin app-content-color {
	background-color: $app-content-bg-color;
	color: $app-font-color;
}
