$app-flicker-steps: 50;
$app-flicker-delay: 0.5s;

$app-font-color: rgb(27, 180, 20);
$app-separator-line-color: rgba(252, 0, 0, 0.8);

$app-screen-bg-color: black;
$app-content-bg-color: rgba($app-screen-bg-color, 0.6);
$app-header-bg-color: rgba($app-screen-bg-color, 0.8);
$app-list-hover-bg: rgba($app-font-color, 0.7);

$_error-color: rgb(249, 255, 0);
$_dialog-bg-color: rgba(102, 0, 0, 0.8);
$_dialog-bg-tr-color: rgba(102, 0, 0, 0.8);
$_dialog-bg-hover-bg-color: rgba(102, 0, 0, 0.8);
$_dialog-border-color: rgba(252, 0, 0, 0.8);
$_nav-bg-color: rgb(40, 44, 52);
$_navbar-font-color: #6c757d;
$_navbar-border-color: #6c757d;
$_input-active-bg: #cbcbcb;
$_input-inactive-bg: #91adca;
$_input-font-color: black;

