$app-flicker-steps: 50;
$app-flicker-delay: 0.5s;

// ######### MAIN COLORS #########
$app-bg-transparency-color: black;
$app-bg-light: rgba($app-bg-transparency-color, 0.3);
$app-bg-middle: rgba($app-bg-transparency-color, 0.6);
$app-bg-dark: rgba($app-bg-transparency-color, 0.8);

$app-red-bright: rgba(252, 0, 0, 0.8);
$app-red-dark: rgb(106, 0, 0);

// ######### MIX #########
$app-font-color: rgb(27, 180, 20);
$app-font-readonly-color: #495057;
$app-separator-line-color: $app-red-bright;
$app-border-color: $app-red-dark;
$app-screen-bg-color: $app-red-dark;
$app-content-bg-color: $app-bg-middle;
$app-content-bg-dark-color: $app-bg-dark;
$app-content-bg-light-color: $app-bg-light;
$app-component-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
$app-list-hover-bg: rgba($app-font-color, 0.7);

// ######### BUTTON #########
$app-button-border-color: $app-red-dark;
$app-button-background-color: $app-bg-middle;

// ######### INPUT #########
$app-input-text-color: $app-font-color;
$app-input-text-bg: $app-content-bg-light-color;

// ########### SIDEBAR ##################
$sidebar-width: 250px;
$sidebar-margin-right: 10px;
$sidebar-header-height: 80px;
$sidebar-header-padding: 5px;

// ######### WAD SPRITES #########
$wad-sprite-box-size: 200px;
$wad-sprite-box-margin: 5px;

// ######### WAD PATCHES #########
$wad-patch-box-size: 300px;
$wad-patch-box-margin: 5px;



