$flicker-steps: 50;
$flicker-delay: 0.5s;

$screen-bg-color: black;

$font-color: rgb(76, 255, 0);
$error-color: rgb(249, 255, 0);

$dialog-bg-color: rgba(102, 0, 0, 0.8);
$dialog-bg-tr-color: rgba(102, 0, 0, 0.8);
$dialog-bg-hover-bg-color: rgba(102, 0, 0, 0.8);
$dialog-border-color:rgba(252, 0, 0, 0.8);

$nav-bg-color: rgb(40, 44, 52);
$navbar-font-color: #6c757d;
$navbar-border-color: #6c757d;

$input-active-bg: #cbcbcb;
$input-inactive-bg: #91adca;
$input-font-color:black;
