@import "/src/scss/ng-doom";

.app-carousel-container {
	@extend .d-flex;
	@extend .w-100;
	justify-content: center;
	align-items: center;
	overflow: auto;
	margin-bottom: 3em;
}
.app-carousel-slide {
	flex-shrink: 0;
}
